
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,500;1,400&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital@0;1&display=swap');

.gridcont{
  font-family: 'Bitter', serif;
  font-weight: 500;
  display: grid;
  grid-template-columns: [l] 1fr [lc] 1fr 1fr 1fr [rc] 1fr [r];
  grid-template-rows: [t] 100px [tc] 1fr [bc] 1fr [b];
}

.itemTitle{
  grid-column-start: l;
  grid-column-end: lc;
  background-color: #4d004d;
  color: white;
  text-align: center;
  padding: 5px;
}

.itemExplore{
  grid-row-start: tc;
  grid-row-end: b;
  background-color: #990099;
  color: white;
  padding: 10px;
}

.Buttons{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.Buttons button{
    padding: 5px;
    border: none;
    background-color: inherit;
    color: inherit;
    font-family: inherit;
    padding-left: 10px;
    text-align: left;
}

.Buttons button:hover {
    background-color: #cc00cc;
}

.itemViewer{
  grid-column: lc / r;
  grid-row: t / b;
  padding-left: 30px;
  padding-top: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.itemViewer h1, .itemViewer h2, .itemViewer h3{
    font-family: 'Bitter', serif;
    font-weight: 400;
    font-style: italic;
    color: #009999;
}

.itemViewer p{
    padding-left: 20px;
}

pre{
    padding: 15px;
    background-color: #666666;
    color: #ffffff;
}
code{
    font-family: 'Courier Prime', monospace;
}
