{% extends 'base.html.twig' %}

{% block title %}Edit Post{% endblock %}

{% block body %}
    <div class="container mt-3">
        <div class="row justify-content-center">
        {{ include('post/_form.html.twig', {'button_label': 'Update'}) }}
        {{ include('post/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
